.links {
    padding: 4rem 0;
}

.title {
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16px * 10);
    grid-template-rows: repeat(auto-fit, 16px * 10);
    gap: 16px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: background 0.1s ease-in-out;

    &:hover {
        background: rgba(255, 255, 255, 0.1);

        .cardTitle {
            // height: 0;
            opacity: 1;
            max-height: 100px;
        }

        .cardSpacer {
            padding: 8px 0;
        }
    }

    &.noImage {
        .cardTitle {
            opacity: 1;
            max-height: fit-content;
        }

        .cardSpacer {
            padding: 8px 0;
        }
    }

    .cardTitle {
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: rgba(255, 255, 255, 0.85);
        transition: all 0.1s ease-in-out;
        opacity: 0;
        max-height: 0;
    }


    .cardSpacer {
        padding: 0;

        transition: padding 0.1s ease-in-out;
    }
}