.box {
    display: flex;

    input,
    button {
        outline: 0;
        border: 0;
        padding: 16px;
        font-size: 1rem;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
    }

    input {
        width: 50%;
    }
    
    button {
        margin-left: 4px;
        transition: background 0.1s ease-in-out;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }

        &:active {
            background: rgba(255, 255, 255, 0.3);
        }
    }
}