.container {
  padding: 0 2rem;
  max-width: 960px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 8rem 0 0 0;
}

.title {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 64px;
}